<table  class="affich">
	<tr>
		<td>
			<%= titre(@new.titre, @new) %>
		</td>
	</tr>
	<tr>
		<td><%= @new.description %></td>
	</tr>
	<tr>
		<td><%= @new.corps %></td>
	</tr>
</table>
<%= commentaire(@new,"news")%>
